<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Places</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!--   <button ion-button (click)="loadThingsToDo()">find somehting to do!</button>
 -->
  <!--   <button ion-button block full (click)="fourApi()">four!</button>

  <h1>{{currentLat}}{{currentLong}}</h1>

  {{goToPlace | json}} {{lat }}{{long}} -->


  <ion-card *ngFor="let place of fourPlaces">
    <ion-card-content>
      <ion-card-title>
        <h2>{{place.name}} {{place.location.address}} {{place.location.city}} {{place.location.state}}</h2>


      </ion-card-title>
      <p>
        <!--         {{place.categories[0].name}} {{place.categories[0].icon.prefix}}{{place.categories[0].icon.suffix}} {{place.categories[0].id}}
 -->
      </p>
      <button ion-button item-end>Details</button>
    </ion-card-content>
  </ion-card>




  <!--   <ion-card *ngFor="let place of places">
    <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{place.photos[0].photo_reference}}&key=AIzaSyBnUd-L4TY1Bj0pYxtowBTAWlZ_xTBBeAM"
    />
    <ion-card-content>
      <ion-card-title>
        {{place.name}}
      </ion-card-title>
      <button ion-button>more details</button>
    </ion-card-content>
  </ion-card> -->


</ion-content>
