<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>things to do in {{city}}, {{state}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!--   <button ion-button (click)="loadThingsToDo()">find somehting to do!</button>
 -->
  <!--   <button ion-button block full (click)="fourApi()">four!</button>

  <h1>{{currentLat}}{{currentLong}}</h1>

  {{goToPlace | json}} {{lat }}{{long}} -->

  <ion-toolbar [ngClass]="temp >= 75 ? 'hot' : 'cold'">
    <ion-title>Current Temp: {{temp}}°</ion-title>
  </ion-toolbar>

  <div *ngIf="" noData>
    <h1> no data</h1>
  </div>

  <ion-card *ngFor="let place of fourPlaces">

    <ion-item>
      <ion-icon name="pin" item-start large></ion-icon>
      <h2>{{place.name}}</h2>
      <p>{{place.location.address}}, {{place.location.city}} {{place.location.state}}</p>
    </ion-item>


    <ion-item>
      <button ion-button icon-left clear item-end (click)="details(place.id)">
        <ion-icon name="navigate"></ion-icon>
        More Info
      </button>
    </ion-item>

  </ion-card>

</ion-content>
