<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Round
      <span>ME</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div [ngClass]="toggleWeather ? 'blur' : ''">
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-item>
            <ion-label floating>City</ion-label>
            <ion-input type="text" [(ngModel)]="city"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>

          <ion-item>
            <ion-label floating>State</ion-label>
            <ion-input type="text" [(ngModel)]="state"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-12>

          <button ion-button block full (click)="search(city, state)">Go</button>

        </ion-col>
      </ion-row>
    </ion-grid>



    <!--<div *ngIf="recentSearches == ''" class="no-results">
      <p>No Searches Found!</p>
      <small>Please use search box above to lookup weather</small>
    </div>-->





    <div *ngIf="!noData">


      <ion-list>
        <ion-item-sliding *ngFor="let item of recentSearches; let i = index">


          <ion-item>


            <h2>{{item.recentCity}}, {{item.recentState}}</h2>
            <p>
              Temp: {{item.todaysWeatherTemp}}°

            </p>
            <p>

              <span [ngSwitch]="item.todaysWeatherCondition">
                <span *ngSwitchCase="'Cloudy'">
                  <ion-icon name="cloud"></ion-icon>
                </span>
                <span *ngSwitchCase="'Partly Cloudy'">
                  <ion-icon name="partly-sunny"></ion-icon>
                </span>
                <span *ngSwitchCase="'Mostly Cloudy'">
                  <ion-icon name="partly-sunny"></ion-icon>
                </span>
                <span *ngSwitchCase="'Sunny'">
                  <ion-icon name="sunny"></ion-icon>
                </span>
                <span *ngSwitchCase="'Clear'">
                  <ion-icon name="sunny"></ion-icon>
                </span>
                <span *ngSwitchCase="'Scattered Showers'">
                  <ion-icon name="rainy"></ion-icon>
                </span>
                <span *ngSwitchDefault></span>
              </span>
              {{item.todaysWeatherCondition}}

            </p>

          </ion-item>

          <ion-item-options side="right">
            <button ion-button color="light" (click)="deleteSingleResult(i)">
              <ion-icon name="trash"></ion-icon>
              delete
            </button>
            <button ion-button color="default" (click)="searchRecent(item.recentCity, item.recentState)">
              <ion-icon name="thermometer"></ion-icon>
              update
            </button>

            <button ion-button color="danger" (click)="goPlaces(item.lat, item.long, item.recentCity, item.recentState, item.todaysWeatherTemp)">
              <ion-icon name="pin"></ion-icon>
              places
            </button>
          </ion-item-options>

        </ion-item-sliding>
      </ion-list>

    </div>



  </div>
  <ion-fab right bottom *ngIf="!toggleWeather">
    <button ion-fab color="light">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab (click)="clearRecentSearches()">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-fab>
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>


  <div [ngClass]="toggleWeather ? 'open' : 'popover'" class="popover">
    <ion-icon name="close" class="close" (click)="closeWeather()"></ion-icon>

    <ion-slides pager [ngClass]="todaysWeatherTemp >= 75 ? 'hot' : 'cold'">

      <ion-slide>

        <p>
          {{locationCity}}, {{locationState}} - {{todaysWeatherCondition}}
        </p>


        <div class="temp">
          <p>
            <span>{{ todaysWeatherTemp }}°</span>
          </p>
          <p>humidity: {{humidity}}°</p>

          <p>
            <ion-icon name="sunny"></ion-icon> {{sunrise}}
            <ion-icon name="moon"></ion-icon> {{sunset}}
          </p>
          <p>chill: {{windChill}}° | speed: {{windSpeed}}</p>
          <p>Last Updated: {{lastUpdated}}</p>
        </div>
      </ion-slide>

      <ion-slide>
        <h2>10 Day Forecast:</h2>

        <ion-grid>
          <ion-row>
            <ion-col col-6 *ngFor="let item of forecast">
              <ion-card>
                <p>High {{item.high}} </p>
                <p>Low {{item.low}}</p>
                {{item.text}}
                <p>{{item.date}}</p>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-slide>

      <ion-slide>

        <h2>Things To Do</h2>



      </ion-slide>

    </ion-slides>

  </div>



  <!--<small>
    <pre>
              <code>
                {{currentWeather | json}}
              </code>
            </pre>
  </small>-->
</ion-content>
